 @model ge_repository.OtherDatabase.ge_log_file

 <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fileHeader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fileHeader)
        </dd>  

        <partial name="_ge_search"
                    model="header"
                    for="header"
                    view-data="ViewData" />
        <dt>
            @Html.DisplayNameFor(model => model.readingAggregates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.readingAggregates)
        </dd> 
        <dt>
            Save Status
        </dt>
        <dd> 
            @ViewBag.fileStatus
        </dd>  
    </dl>
 <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0">   
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.readings[0].ReadingDateTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.readings[0].Duration)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.readings[0].Value1)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.readings[0].Value2)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.readings[0].Value3)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.readings[0].Value4)
            </th>   
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.readings[0].ReadingDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.readings[0].Duration)
            </th>
            <th>
        </tr>
    </thead>
    <tbody>
    @foreach (var reading in Model.readings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => reading.ReadingDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => reading.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => reading.Value1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => reading.Value2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => reading.Value3)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => reading.Value4)
            </td>             
        </tr>
    }
    </tbody>
</table>
</div>

<p>
    @Html.ActionLink("Save", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>