@page
@model ge_repository.Pages.Data.DetailsModel

@{
    ViewData["Title"] = @Model.data.filename + " Details";
}

<h2>
    @Model.data.filename Details
 </h2>
<div>
    <h4>
            <a asp-controller="ge_data" asp-action="Download" asp-route-id=@Model.data.Id>Download</a>
            <a asp-controller="ge_data" asp-action="View" asp-route-id=@Model.data.Id>View</a>
            @if (@Model.data.fileext == ".ags" && @Model.data.pflag == pflagCODE.NORMAL) {
                <text> | </text>
                <a asp-controller="ge_ags" asp-action="CreateXML" asp-route-Id=@Model.data.Id>Create XML</a>
            }
            @if (@Model.data.fileext == ".ags" && @Model.data.pflag == pflagCODE.PROCESSING) {
                <text> | </text>
                <text>Processing AGS</text>
            }
            @if (@Model.data.fileext == ".xml") {
                <text> | </text>
                <a asp-page="../Transform/Create" asp-route-projectId="@Model.data.projectId">Create Transform</a>
                    if (@Model.IsAGSML) {
                         <text> | </text>
                        <a asp-page="../Transform/CreateAGSFamily" asp-route-dataId="@Model.data.Id">Create Transform AGS Family</a>
                    }
            }
            </td>
    </h4>
</div>
<div>

    <dl class="dl-horizontal">
        <partial name="_DetailsData"
                    for="data"
                    view-data="ViewData" />   
        <partial name="_DetailsLocation"
                    for="data"
                    view-data="ViewData" />
        <partial name="_DetailsBase"
                    for="data"
                    view-data="ViewData" />
    </dl>
</div>
<!-- @if (Model.data.pstatus != Constants.PublishStatus.Approved && Model.IsUserApprover())
{
    {
        <form style="display:inline;" method="post">
            <input type="hidden" name="id" value="@Model.data.Id" />
            <input type="hidden" name="pstatus" value="@Constants.PublishStatus.Approved" />
            <button type="submit" class="btn btn-xs btn-success">ApproveProject</button>
        </form>
    }
} -->
<div>
    <h4>
        <a asp-page="./Edit" asp-route-id="@Model.data.Id">Edit</a>
        <a asp-page="./Delete" asp-route-id="@Model.data.Id">Delete</a>
        | <a asp-page="./Index">Back to List</a>
    </h4>
</div>
